<div>
    <a href="/" style="background-color: purple; padding: 10px; color: white;">home</a>
    <a href="/login" style="background-color: yellowgreen; padding: 10px; color: white;">sign up</a>
    <a href="/register" style="background-color: blue; padding: 10px; color: white;">sign in</a>
    <a href="/profile" style="background-color: red; padding: 10px; color: white;">profile</a>
</div>