<div>
    <ul>
        <li><%= user.id  %> </li>
        <li><%= user.fullname  %> </li>
        <li><%= user.username  %> </li>
        <li><%= user.password  %> </li>
    </ul>
    <a href="/logout" style="color: red;">LOGOUT</a>
</div>